html {}
.px5right {	margin-right: 5px;
}

.div_one {	float: left;}

.div_one_next {	clear: left;}

.btn_add:before {	 content: url("/images/add.ico");
	margin-right: 5px;}

#delete_control { float: left; }

.btn_add {
    float: right;	vertical-align: middle;
}

.btn_save:before {	content: url("/images/save.ico");
	margin-right: 5px;
}

.btn_save {    float: right;}


.btn_del {	color: #F5F5F5;}

.btn_del:hover {	color: #F5F5F5;
}

.btn_del:before {	/* content: url("/images/delete.ico"); */
}



.btn_back {
	padding: 5px;
	padding-top: 20px;
	margin-left: 0px;
}

.btn_back:before {	content: url("/images/back.png");}

.noshow {	display: none;}

.sid {	width: 20px;}


.btn-add { background-color: hsl(306, 92%, 79%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fde6fb", endColorstr="#fa98f0"); background-image: -khtml-gradient(linear, left top, left bottom, from(#fde6fb), to(#fa98f0)); background-image: -moz-linear-gradient(top, #fde6fb, #fa98f0); background-image: -ms-linear-gradient(top, #fde6fb, #fa98f0); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fde6fb), color-stop(100%, #fa98f0)); background-image: -webkit-linear-gradient(top, #fde6fb, #fa98f0); background-image: -o-linear-gradient(top, #fde6fb, #fa98f0); background-image: linear-gradient(#fde6fb, #fa98f0); border-color: #fa98f0 #fa98f0 hsl(306, 92%, 75%); color: #333 !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.26); -webkit-font-smoothing: antialiased; }